{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Diskografie{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'content/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'content/css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'content/css/band_detail.css' %}">
</head>

<body>
    <header>
        <div class="header-container">
            <h1><a href="/">Diskografie</a></h1>
            <div class="header-buttons">
                <div class="click-counter" id="klikz-20"></div>
                <script src="https://klikz.svs.gyarab.cz/hit/20?front=ff0505&back=333333"></script>
            </div>
        </div>      
    </header>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
