{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Můj web{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'content/css/styles.css' %}">
</head>
<body>
    <header>
        <h1><a href="/">Kapely a jejich alba</a></h1>
        
    </header>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Kapely a jejich alba</p>
    </footer>
</body>
</html>
