{% extends "content/base.html" %}

{% block title %}Seznam kapel{% endblock %}

{% block content %}
    <h2>Seznam kapel</h2>
    <div class="band-list">
        {% for band in bands %}
            <div class="band-card">
                <a href="{% url 'band_detail' band.id %}">
                    <img src="{{ band.image_url }}" alt="{{ band.name }} logo">
                    <h3>{{ band.name }}</h3>
                    <p>Formed in: {{ band.formed_year }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
