{% extends 'content/base.html' %}
{% load static %}

{% block title %}Kapely{% endblock %}

{% block content %}
    <h2>Kapely</h2>
    <div class="bands-container">
        {% for band in bands %}
        <a href="{% url 'band_detail' band.id %}" class="band-card">
                <h2>{{ band.name }}</h2>
                {% if band.logo %}
                    <img src="{{ band.logo }}" alt="{{ band.name }} logo" class="band-logo">
                {% else %}
                    <p>Logo není dostupné</p>
                {% endif %}    
        </a>
        {% endfor %}
    </div>
{% endblock %}